:root {
    /* Primary */

    --VeryDark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* Accent */

    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* Neutral */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open Sans', sans-serif;
}

.barra-navegacao {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    text-decoration: none;
    color: var(--VeryDark-Blue);
}

ul {
    display: flex;
}

ul li {
    cursor: pointer;
}

ul li:nth-child(2) {
    align-items: center;
    margin: 0 50px;
}