:root {
    /* Primary */

    --VeryDark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* Accent */

    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* Neutral */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --White: #ffffff
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 1px;
}

.bar-nav {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    font-weight: 400;
    text-decoration: none;
    color: var(--VeryDark-Blue);
}

ul {
    display: flex;
}

ul li {
    cursor: pointer;
}

ul li:nth-child(2) {
    align-items: center;
    margin: 0 50px;
}

.container {
    margin: 50px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 150px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--VeryDark-Blue);
    line-height: 1.5em;
}

.content {
    font-size: 18px;
    font-weight: 700;
    color: var(--VeryDark-Blue);
    line-height: 1.4em;
    margin: 30px 0;
}

input {
    width: 305px;
    border: 1px solid var(--Desaturated-Blue);
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
    font-size: 13px;
}

button {
    width: 190px;
    border-radius: 5px;
    background-color: var(--Bright-Blue);
    padding: 10px;
    color: var(--Light-Grayish-Blue);
    font-size: 13px;
    font-weight: 700;
}

.section-img {
    width: 680px;
    margin-left: 31px;
}

.curve-img-desktop {
    width: -webkit-fill-available;
    height: 130px;
    position: relative;
    top: 4px; 
}

.curve-img-mobile {
    display: none;
}

.second-section-img {
    width: 600px;
    margin-top: 33px;
}

.container-section-second {
    background-color: var(--Light-Grayish-Blue);
    align-items: flex-start;
    padding: 50px;
    display: flex;
    padding-left: 50px;
}

.content-section-second {
    font-size: 18px;
    font-weight: 700;
    color: var(--VeryDark-Blue);
    line-height: 1.4em;
    margin-top: 30px;
}

.link {
    color: var(--Moderate-Cyan);
    font-size: 18px;
    border-bottom: 2px solid var(--Moderate-Cyan);
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: 170px;
    padding-right: 25px;
    border-bottom: 2px solid var(--Moderate-Cyan);
}

.link img {
    width: 20px;
    margin-left: 5px;
}

.msn {
    background-image: url('./images/icon-quotes.svg');
    background-repeat: no-repeat;
    background-position: 30px 30px;
    margin-top: 50px;
    padding: 60px 30px 30px 30px;
    background-color: var(--White);
    width: 330px;
    line-height: 25px;    
    border-radius: 10px;
    box-shadow: 0px 0px 17px 1px var(--Light-Gray);
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.profile img {
    width: 15%;
    border-radius: 25px;
    margin-right: 10px;
}

.profile p {
    font-size: 13px;
    line-height: 18px;
}

.profile p:nth-child(1) {
    font-weight: 700;
}

.access {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 355px;
    background-color: var(--Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    padding: 90px 50px;
}

.access h2 {
    
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.access p {
    line-height: 25px;
    font-size: 14px;
}

.access-contact input {
    display: flex;
    width: 495px;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
}

.access-contact button {
    margin: 10px;
    padding: 15px 0;
    width: 230px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--Bright-Blue);
}

footer {
    background: linear-gradient(var(--VeryDark-Blue), hsl(243, 87%, 17%));
    color: var(--Light-Grayish-Blue);
}

footer img {
    padding-left: 50px;
    padding-top: 80px;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 25px 50px;
}

.box p {
    margin-bottom: 20px;
}

.box a:hover {
    color: var(--Bright-Blue);
    border-bottom: 2px solid var(--Bright-Blue);
}

  .icon-bar a {
    width: 11px;
    height: 11px;
    display: inline-block;
    padding: 16px;
    border: 1px solid var(--Light-Grayish-Blue);
    border-radius: 28px;
    transition: all 0.3s ease;
    background: transparent;
    color: var(--Light-Grayish-Blue);
    font-size: 16px;
    margin: 0px 7px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    color: var(--Bright-Blue);
    border: 1px solid var(--Bright-Blue);
  } 
  
  .facebook {  
    text-align: center;
  }
  
  .twitter {
    text-align: center;
  }
  
  .instagram {
    text-align: center;
  }

  @media screen and (min-width: 1366px) {
    .section-img {
        width: 675px;
    }

    .title {
        font-size: 39px;
    }

    .content-section-second p {
        margin-bottom: 30px;
    }
}

  @media screen and (max-width: 480px) {

    .bar-nav {
        padding: 20px 20px;
    }

    .bar-nav img {
        width: 100px;
    }

    ul li:nth-child(2) {
        align-items: center;
        margin: 0 25px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        margin-bottom: 140px;        
    }

    .container-content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-img {
        order: 1;
    }

    .container-img img {
        width: 375px;
        margin: 0;
        padding: 70px 0;
    }

    .title {
        font-size: 27px;
        text-align: center;
    }

    .content {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: var(--VeryDark-Blue);
        line-height: 1.4em;
        margin: 30px 0;
    }

    input {
        width: 303px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    button {
        width: 326px;
    }

    .curve-img-desktop {
        display: none;
    }

    .curve-img-mobile {
        position: absolute;
        top: 954px;
    }

    .container-section-second {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        padding-bottom: 50px;
    }

    .container-box {
        order: 2;
    }

    .second-section-img {
        order: 1;
        width: 375px;
        padding-bottom: 80px;
    }

    .title-section-second {
        font-size: 20px;
    }

    .content-section-second {
        font-size: 17px;
        color: var(--Desaturated-Blue);
        font-weight: 400;
    }

    .link {
        display: flex;
        justify-content: center;
        width: 171px;
        background-position: 268px;
        margin: 30px auto 2px auto;
        padding-right: 0;
        padding-bottom: 4px;
        font-size: 16px;
    }

    .msn {
        background-position: 20px 20px;
        margin: 50px auto;
        padding: 40px 20px 20px 20px;
        width: 222px;
    }

    br {
        display: none;
    }

    .msn p {
        font-size: 10px;
    }

    .profile {
        margin-top: 10px;
    }

    .access {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 50px 30px;
    }

    .access-content {
        display: inline;
    }

    .access-content {
        display: inline;
        text-align: center;
    }

    .access-content h2 {
        font-size: 20px;
    }

    .access p {
        font-size: 16px;
    }

    .access-contact input {
        width: 240px;
        margin: 15px auto;
        font-size: 14px;
    }

    .access-contact button {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 10px auto;
        padding: 15px 0;
        width: 270px;
        font-size: 16px;
        font-weight: 700;
        background-color: var(--Bright-Blue);
    }

    .box {
        display: block;
        width: 375px;
        display: block;
        padding: 25px 0;
        margin: 0 20px;
    }

    .other-links {
        margin: 50px 0;
    }

    .other-contacts{
        margin-bottom: 50px;
    }

    .icon-bar {
        width: 375px;
        display: flex;
        justify-content: center;
    }
}


